#header {
  background-color: white;
  color: black;
  height: 110px;
  margin: 30px;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

img {
  width: 100%;
  border-radius: 20px;
}

.panel-heading {
  text-align: center;
}

#ghost-title {
  color: red;
}

.front {
  display: none;
}

.spooky {
  width: 160px;
  float:left
}

.spooky2 {
  width: 160px;
  float:right;
}
