#header {
  background-color: white;
  color: black;
  height: 110px;
  margin: 30px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

h2 {
  text-align: center;
}
img {
  width: 100%;
  border-radius: 20px;
}

.panel-heading {
  text-align: center;
}

#ghost-title {
  color: red;
}

.front {
  display: none;
}

.spooky {
  width: 160px;
}

.player1Turn {
  background-color: #dde4ff;
}

.player2Turn {
  background-color: #fff2bf;
}

#end-button {
  width: 300px;
  height: auto;
  margin: auto;
  display: block;
}

#end-ghost {
  width: 60%;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}
