body {
  font-family: 'Spirax', serif, cursive;;
}

ul {
  font-size: 14pt;
}

#header {
  background-color: white;
  color: black;
  height: 110px;
  margin: 30px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

h2 {
  text-align: center;
}

img {
  width: 80%;
  border-radius: 20px;
  margin: 15px;
}

.panel-heading {
  text-align: center;
}

#ghost-title {
  color: red;
}

.front {
  display: none;
}

.ghost {
  display: none;
}

.dead-end {
  display: none;
  background-color: black;
}

.minus2 {
  display: none;
}

.spooky {
  width: 160px;
}

.player1Turn {
  background-color: #dde4ff;
}

.player2Turn {
  background-color: #fff2bf;
}

#end-turn {
  padding: 15px;
  background-color: black;
  color: white;
}

#dialog {
  font-family: 'Suravaram', serif;
  background-color: black;
  color: white;
}

#dialog h2 {
  font-size: 50px;
}

#play-again {
  width: 300px;
  height: auto;
  margin: auto;
  display: block;
}

#end-ghost {
  width: 75%;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

#game {
  display: none;
}

#intro-pic {
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#game-start {
  display: block;
  margin: auto;
}

#restart {
  display: block;
  margin: auto;
}
