body {
  font-family: 'Spirax', serif, cursive;;
}

ul {
  font-size: 14pt;
}

/*.intro {
  display: block;
  margin: auto:
}*/
#header {
  background-color: white;
  color: black;
  height: 110px;
  margin: 30px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

h2 {
  text-align: center;
}

.intro h3 {
  text-align: center;
  font-weight: bold;
}

.intro p {
  text-align: center;
}

img {
  width: 80%;
  border-radius: 20px;
  margin: 15px;
}

.intro-pics {
  width: 200px;
  display: block;
  margin: auto;
}

.rules {
  font-size: 14pt;
}

.front {
  display: none;
}

.ghost {
  display: none;
}

.dead-end {
  display: none;
  background-color: black;
}

.minus2 {
  display: none;
}
.diamond {
  display: none;
}

.spooky {
  width: 160px;
}

.player1Turn {
  background-color: #dde4ff;
}

.player2Turn {
  background-color: #fff2bf;
}

#end-turn {
  padding: 15px;
  background-color: black;
  color: white;
}

#player1-animation {
  margin: 15px;
  font-size: 30px;
  position: absolute;
  left: 0;
}

#player2-animation {
  margin: 15px;
  font-size: 30px;
  position: absolute;
  right: 0;
}

.plus-animation {
  color: green;
}

.minus-animation {
  color:red;
}

.deadend-animation {
  font-family: 'Suravaram', serif;
}

#dialog {
  font-family: 'Suravaram', serif;
  background-color: black;
  color: white;
}

#dialog h2 {
  font-size: 50px;
}

#next-round {
  width: 300px;
  height: auto;
  margin: auto;
  display: block;
}

#end-ghost {
  width: 75%;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

#game {
  display: none;
}

#intro-pic {
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  float: right;
}

#game-start {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

#restart {
  display: block;
  margin: auto;
}
